name: Set Conditions

on:
  workflow_call:
    inputs:
      run_build:
        required: true
        type: string
      run_sonar:
        required: true
        type: string
      run_deploy:
        required: true
        type: string
      run_archive:
        required: true
        type: string
    outputs:
      enable_build:
        value: ${{ jobs.conditions.outputs.enable_build }}
      enable_sonar:
        value: ${{ jobs.conditions.outputs.enable_sonar }}
      enable_deploy:
        value: ${{ jobs.conditions.outputs.enable_deploy }}
      enable_archive:
        value: ${{ jobs.conditions.outputs.enable_archive }}

jobs:
  conditions:
    runs-on: ubuntu-latest
    outputs:
      enable_build: ${{ steps.decide.outputs.enable_build }}
      enable_sonar: ${{ steps.decide.outputs.enable_sonar }}
      enable_deploy: ${{ steps.decide.outputs.enable_deploy }}
      enable_archive: ${{ steps.decide.outputs.enable_archive }}
    steps:
      - name: Evaluate conditions
        id: eval
        run: |
          for job in build sonar deploy archive; do
            input="run_${job}"
            value="${{ inputs[format('run_{0}, job] }}"
            if [ "$value" = "true"]; then
              echo "enable_${job}=true" >> $GITHUB_OUTPUT
            else
              echo "enable_${job}=false" >> $GITHUB_OUTPUT
            fi
          done
